<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="21091AleksTodorov.Goodbooks" Publisher="CN=BC5628B5-A0EB-4180-9991-32ADBD3BBA52" Version="1.0.0.1" />
  <Properties>
    <DisplayName>Goodbooks</DisplayName>
    <PublisherDisplayName>Aleks Todorov</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="GoodBooks.App">
      <VisualElements DisplayName="Goodbooks" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="GoodBooks" ForegroundText="light" BackgroundColor="#9d00a5">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\WideLogo.png" ShortName="Goodbooks" />
        <SplashScreen Image="Assets\SplashScreen.png" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>